<template name="_header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <img src="/images/logo-48.png" width="32" height="22" alt="P+">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapsed">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" class="btn btn-link" data-logout>Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
