<template name="fiscalizacoes">
    <ol class="fiscalizacoes">
        {{#each fiscalizacoes}}
            {{> fiscalizacao}}
        {{/each}}
    </ol>
</template>

<template name="fiscalizacao">
    <li>
        <span class="numeroSuspeitas">{{numeroSuspeitas}}</span>
        <span class="numeroConfiaveis">{{numeroConfiaveis}}</span>
        <span class="notaFiscalId">notaFiscalId</span>
    </li>
</template>