<template name="home">
  {{> _header}}
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="jumbotron">
        <p class="text-center">
          <img src="/images/logo-48.png" class="center-block" width="128">
        </p>
        <h2 class="text-center">Listagem das câmeras</h2>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            {{> _fiscalizacoes}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> _footer}}
</template>
