	td {
		padding: 6px;
	}

	th {
		padding: 6px;
	}
	.luzApagada
	{
		display: none;
		position:absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: white;
		z-index:1001;
		-moz-opacity: 0.9;
		opacity:.90;
		filter: alpha(opacity=90)
	}   

	.luzAcesa
	{
		display: none;
		position: absolute;			
		background-color: white;
		z-index:1002;
		overflow: auto;
	}	
